//--------------------------------------------
// Colors
//--------------------------------------------

// Primary Colors


// Secondary Colors


// Generic Colors
$theme-color-black: 		#0e0a09;
$theme-color-white: 		rgb(255,255,255);

// Notification colors
$error: 					#f95355;
$success: 					#66be68;
$warning: 					orange;

// Body
$theme-body-bg: 			$theme-color-white;
$theme-body-fg: 			$theme-color-black;