// --------------------------
// Typography
// --------------------------

// Base font face definition
@include font-face("Roboto", $base-font-regular-url, $file-formats: ttf eot svg woff);
@include font-face("Roboto", $base-font-italic-url, normal, italic, $file-formats: ttf eot svg woff);
@include font-face("Roboto", $base-font-bold-url, bold, $file-formats: ttf eot svg woff); 
@include font-face("Roboto", $base-font-bold-italic-url, bold, italic, $file-formats: ttf eot svg woff); 

// Headings
h1,h2,h3,h4,h5,h6 { 
	font-weight: $theme-font-weight-normal; 
	font-size: $theme-font-size-large; 
	clear: both;
	color: $theme-color-black;
}

.heading-1 {
	font-size: $theme-font-size-base * 2;
}

.heading-2 { 
	font-family: $font-family-secondary;
	font-size: $theme-font-size-base * 1.8;
	margin-bottom: $theme-font-size-base * 1.6;
}

.heading-3 { 
	font-family: $font-family-base;
	font-size: $theme-font-size-base * 1.2; 
	font-weight: $theme-font-weight-bold;
	color: $theme-color-white;
}

.heading-4 {
	font-size: $theme-font-size-base * 1.4;
}

.heading-5 {
	font-size: $theme-font-size-base * 1.2;
}

.heading-6 { 
	font-size: $theme-font-size-base;
}


// Paragraph
p {	
	margin-bottom: $spacer-lg;
	font-weight: $theme-font-weight-normal;
	font-size: $theme-font-size-base;
}

// Small
small {
	font-size: $theme-font-size-small;
}