//--------------------------------------------
// Typography
//--------------------------------------------

$base-font-regular-url:				'../fonts/roboto/Roboto-Light';
$base-font-italic-url: 				'../fonts/roboto/Roboto-LightItalic';
$base-font-bold-url: 				'../fonts/roboto/Roboto-Medium';
$base-font-bold-italic-url:			'../fonts/roboto/Roboto-MediumItalic';

$base-font-serif-regular-url:		'../fonts/playfairdisplay/PlayfairDisplay-Regular';
$base-font-serif-italic-url: 		'../fonts/playfairdisplay/PlayfairDisplay-Italic';
$base-font-serif-bold-url: 			'../fonts/playfairdisplay/PlayfairDisplay-Bold';
$base-font-serif-bold-italic-url:	'../fonts/playfairdisplay/PlayfairDisplay-BoldItalic';

$icon-font-url:				'../fonts/icons/theme-icons';

$font-family-sans-serif:	'Roboto', Helvetica, Arial, sans-serif;
$font-family-serif:			'PlayfairDisplay', 'Times New Roman', Georgia, serif;
$font-family-icon:			'theme-icons' !important;

$font-family-base: 			$font-family-sans-serif;
$font-family-secondary:		$font-family-serif;

$theme-font-size-base:		14px !default;
$theme-font-size-medium: 	ceil(($theme-font-size-base * 1.30)) !default; 
$theme-font-size-large: 	ceil(($theme-font-size-base * 1.60)) !default; 
$theme-font-size-xlarge: 	ceil(($theme-font-size-base * 2)) !default; 
$theme-font-size-small: 	ceil(($theme-font-size-base * 0.90)) !default; 

$theme-line-height-base:	1.428571429 !default;
$theme-line-height-large:   1.3333333 !default; // extra decimals for Win 8.1 Chrome
$theme-line-height-small:   1.2 !default;

$theme-font-weight-normal: 	300 !default;
$theme-font-weight-bold: 	700 !default;

//--------------------------------------------
// Colors
//--------------------------------------------

// Primary Colors


// Secondary Colors


// Generic Colors
$theme-color-black: 		#0e0a09;
$theme-color-white: 		rgb(255,255,255);

// Notification colors
$error: 					#f95355;
$success: 					#66be68;
$warning: 					orange;

// Body
$theme-body-bg: 			$theme-color-white;
$theme-body-fg: 			$theme-color-black;


// Spacers
$spacer-none:  0;
$spacer-xs:    4px;
$spacer-sm:    8px;
$spacer-base:  16px;
$spacer-md:    24px;
$spacer-lg:    32px;
$spacer-xl:    48px;
$spacer-xxl:   64px;

$spacer-size-list: (
    xs:     $spacer-xs,
    sm:     $spacer-sm,
    base:   $spacer-base,
    md:     $spacer-md,
    lg:     $spacer-lg,
    xl:     $spacer-xl,
    xxl:    $spacer-xxl,
    none:   0
);

$spacer-sides: top right bottom left;
$box-boundary-list: (
    in: padding,
    out: margin
);

// Graphics media
$theme-image-path:'../img/';
$theme-main-logo-image: $theme-image-path + 'logo-theme.png';


// Responsive Breakpoints
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-md-max: 1024px !default;
$screen-lg-min: 1172px !default;
$screen-lg-max: 1200px !default;
$screen-xl-min: 1400px !default;
$screen-xxl-min: 1600px !default;
$screen-xs-smax: 740px !default;
$screen-xs-max: 568px !default;
$screen-xs-min: 468px !default;
$screen-base:   320px !default;