// Generic Variables


// Primary Colors


// Secondary Colors

// Navigation Colors
// 
// 


// Helpers - Spacing
$pad-vsmall: 6px;
$pad-small: 12px;
$pad-medium: 24px;
$pad-large: 24px;



// Generic Colors
$white: rgb(255,255,255);

// Notification colors
$error:#fe3e3b;
$success:#52d76a;
$warning:#fecb31;


// Icon Characters



// Media or Images
